body{
    background-color: #F9DCC4;
}

h2 {
    text-align: center;
  }

span i {
    color: #ffffff;
}

a {color:cornflowerblue;
    text-decoration: none
    
}

.nav-link {
    color: black;
}
.nav-link:hover {
    color:black;
    background-color: #ffc107;
  }


 .img-notion{
    width:1.5em;
 }

button a {
    color: black;
}

button a:hover {
    color: black;
}